[Desktop Entry]
Encoding=UTF-8
Name=Minisip
Comment=Soft Telephone
Exec=minisip_gtkgui
Terminal=false
Type=Application
Icon=minisip.png
Categories=PIM;GPE;Application;Network
