Source: minisip
Section: unknown
Priority: optional
Maintainer: Johan Bilien <jobi@via.ecp.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: minisip
Architecture: any
Depends: libmsip0 (>= 0.2), libmikey0 (>= 0.3), libmnetutil0 (>= 0.2), libmutil0 (>= 0.2), libssl0.9.7 (>= 0.9.7), libglademm2.0-1c102 (>=2.0)
Description: minisip is a SIP user agent, with security enhancements
 minisip is a soft telephone which uses the SIP protocol. It provides
 additional security, such as encryption and authentication, by using
 the SRTP (RFC3711) and MIKEY (RFC 3830) protocols. It uses GTK+ for
 the graphical interface.
