#!/usr/bin/perl
#
#  arch.local.example - overrides example for minisip on x86
#
#  Make a copy of this file named 'arch.local' in the same directory, then
#  you can simply remove comments from approriate lines to suit your needs. 
#  Also, you can remove these fluffy comments if they make your skin crawl.
#
#  The settings provided here will over ride the defaults in 'dist.conf'.
#
#######

1
